<h1>A few of my favorite things</h1>

<ul class="things">

<% @things.each do |thing| %>
  <li>
    <h2><%= link_to thing.name, thing %></h2>
		<p><%= thing.body_text %></p>
  </li>
<% end %>

</ul>

<br />

<%= link_to 'New Thing', new_thing_path %>
