ul, ol, li {list-style: none; margin: 0; padding: 0;}

.things li {
	float: left;
	width: 180px;
	min-height: 180px;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em;
}

.things h2 a {
	color: Red;
}

ul.things {
	overflow: auto;
}